/data/1inch.json
/data/aave.json
/data/badger-dao.json
/data/balancer.json
/data/chainlink.json
/data/compound-ether.json
/data/compound-governance-token.json
/data/convex-finance.json
/data/curve-dao-token.json
/data/frax-share.json
/data/havven.json
/data/kyber-network-crystal.json
/data/lido-dao.json
/data/loopring.json
/data/maker.json
/data/republic-protocol.json
/data/rocket-pool.json
/data/sushi.json
/data/the-graph.json
/data/uniswap.json
/data/yearn-finance.json
